In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
df = pd.read_json('sample_dataset/batch_log.json', lines=True)

In [3]:
df.head(10)

     D     T  amount event_type      id     id1     id2           timestamp
0  2.0  50.0     NaN        NaN     NaN     NaN     NaN                 NaT
1  NaN   NaN   56.69   purchase   250.0     NaN     NaN 2017-06-14 18:46:40
2  NaN   NaN   20.68   purchase  8921.0     NaN     NaN 2017-06-14 18:46:40
3  NaN   NaN   27.91   purchase  5053.0     NaN     NaN 2017-06-14 18:46:40
4  NaN   NaN   76.61   purchase  2204.0     NaN     NaN 2017-06-14 18:46:40
5  NaN   NaN     NaN   befriend     NaN  6981.0  3402.0 2017-06-14 18:46:40
6  NaN   NaN   56.01   purchase  9572.0     NaN     NaN 2017-06-14 18:46:40
7  NaN   NaN     NaN   befriend     NaN  6037.0  8071.0 2017-06-14 18:46:40
8  NaN   NaN   73.72   purchase  5362.0     NaN     NaN 2017-06-14 18:46:40
9  NaN   NaN     NaN   befriend     NaN  6185.0  8617.0 2017-06-14 18:46:40

In [4]:
df.describe()

         D     T         amount             id           id1           id2
count  1.0   1.0  400257.000000  400257.000000  99742.000000  99742.000000
mean   2.0  50.0      66.174229    4996.314258   5006.222544   5012.469762
std    NaN   NaN      43.120066    2884.169683   2881.856962   2889.195433
min    2.0  50.0       1.000000       0.000000      0.000000      0.000000
25%    2.0  50.0      32.120000    2498.000000   2517.000000   2513.000000
50%    2.0  50.0      57.970000    5003.000000   5003.000000   5018.000000
75%    2.0  50.0      92.710000    7488.000000   7497.000000   7520.000000
max    2.0  50.0     318.670000    9999.000000   9999.000000   9999.000000

In [5]:
for possible_value in set(df['event_type'].tolist()):
    print(possible_value)

nan
unfriend
befriend
purchase

In [6]:
df_purchase=df[df['event_type']=='purchase']
df_purchase = df_purchase[['event_type','id','timestamp','amount']]
df_purchase.head()

  event_type      id           timestamp  amount
1   purchase   250.0 2017-06-14 18:46:40   56.69
2   purchase  8921.0 2017-06-14 18:46:40   20.68
3   purchase  5053.0 2017-06-14 18:46:40   27.91
4   purchase  2204.0 2017-06-14 18:46:40   76.61
6   purchase  9572.0 2017-06-14 18:46:40   56.01

In [7]:
df_befriend=df[df['event_type']=='befriend']
df_befriend=df_befriend[['event_type','id1','id2','timestamp']]
df_befriend.head()

   event_type     id1     id2           timestamp
5    befriend  6981.0  3402.0 2017-06-14 18:46:40
7    befriend  6037.0  8071.0 2017-06-14 18:46:40
9    befriend  6185.0  8617.0 2017-06-14 18:46:40
15   befriend  7759.0  2290.0 2017-06-14 18:46:40
17   befriend  3146.0  6554.0 2017-06-14 18:46:40

In [8]:
df_unfriend=df[df['event_type']=='unfriend']
df_unfriend=df_unfriend[['event_type','id1','id2','timestamp']]
df_unfriend.head()

    event_type     id1     id2           timestamp
48    unfriend  2486.0  1902.0 2017-06-14 18:46:40
160   unfriend  8014.0  4564.0 2017-06-14 18:46:40
323   unfriend  4235.0   922.0 2017-06-14 18:46:40
538   unfriend  2633.0  5005.0 2017-06-14 18:46:40
624   unfriend  9187.0  7856.0 2017-06-14 18:46:40

In [9]:
df_friend = pd.concat([df_befriend, df_unfriend])
df_friend.tail()
df_friend = df_friend.sort_values('timestamp')
#df_friend

       event_type     id1     id2           timestamp
5        befriend  6981.0  3402.0 2017-06-14 18:46:40
29597    befriend  7807.0  9872.0 2017-06-14 18:46:40
29593    befriend  9783.0  5391.0 2017-06-14 18:46:40
29584    befriend  4947.0  4948.0 2017-06-14 18:46:40
29582    befriend  5442.0  7122.0 2017-06-14 18:46:40
29581    befriend  7848.0  5262.0 2017-06-14 18:46:40
29575    befriend  8964.0  2055.0 2017-06-14 18:46:40
29566    befriend   484.0  3551.0 2017-06-14 18:46:40
29559    befriend  3837.0  2620.0 2017-06-14 18:46:40
29557    befriend  7253.0  4970.0 2017-06-14 18:46:40
29551    befriend  4016.0  1009.0 2017-06-14 18:46:40
29549    befriend  5073.0  6750.0 2017-06-14 18:46:40
29547    befriend  1220.0  9267.0 2017-06-14 18:46:40
29530    befriend  1354.0  6455.0 2017-06-14 18:46:40
29617    befriend  7890.0  4225.0 2017-06-14 18:46:40
29518    befriend  8817.0  2888.0 2017-06-14 18:46:40
29507    befriend  2993.0  6114.0 2017-06-14 18:46:40
29504    befriend  2231.0  9199.0 2017-06-14 18:46:40
29496    befriend  9324.0  5152.0 2017-06-14 18:46:40
29494    befriend  6033.0  3047.0 2017-06-14 18:46:40
29489    befriend  9643.0  3535.0 2017-06-14 18:46:40
29482    befriend  9435.0  4752.0 2017-06-14 18:46:40
29481    befriend  4602.0  6324.0 2017-06-14 18:46:40
29476    befriend  5045.0  1088.0 2017-06-14 18:46:40
29468    befriend  2510.0  8445.0 2017-06-14 18:46:40
29465    befriend  7593.0  8138.0 2017-06-14 18:46:40
29461    befriend  1932.0   149.0 2017-06-14 18:46:40
29456    befriend  8551.0  2541.0 2017-06-14 18:46:40
29455    befriend  8909.0  6038.0 2017-06-14 18:46:40
29510    befriend  2389.0  9768.0 2017-06-14 18:46:40
...           ...     ...     ...                 ...
498822   befriend  3840.0  6814.0 2017-06-14 18:46:50
498344   befriend  5591.0   212.0 2017-06-14 18:46:50
498351   befriend  9835.0  2889.0 2017-06-14 18:46:50
498482   befriend  7369.0  9607.0 2017-06-14 18:46:50
498476   befriend  3230.0  6677.0 2017-06-14 18:46:50
498471   befriend    88.0  2241.0 2017-06-14 18:46:50
498466   befriend  3534.0   611.0 2017-06-14 18:46:50
498464   befriend   478.0  9455.0 2017-06-14 18:46:50
498459   befriend  5230.0  3095.0 2017-06-14 18:46:50
498456   befriend  9841.0  3485.0 2017-06-14 18:46:50
498455   befriend  6639.0  1609.0 2017-06-14 18:46:50
498444   befriend   515.0  9547.0 2017-06-14 18:46:50
498437   befriend  8451.0   166.0 2017-06-14 18:46:50
498434   befriend  1246.0    77.0 2017-06-14 18:46:50
498429   befriend  8360.0  7473.0 2017-06-14 18:46:50
498428   befriend  3893.0  2227.0 2017-06-14 18:46:50
498427   befriend  9214.0  2681.0 2017-06-14 18:46:50
498417   befriend  7094.0  6120.0 2017-06-14 18:46:50
498405   befriend  7409.0  1696.0 2017-06-14 18:46:50
498398   befriend  9062.0    41.0 2017-06-14 18:46:50
498397   befriend  7841.0  3272.0 2017-06-14 18:46:50
498396   befriend  9220.0  7780.0 2017-06-14 18:46:50
498395   befriend  8141.0  9075.0 2017-06-14 18:46:50
498378   befriend  1753.0   837.0 2017-06-14 18:46:50
498373   befriend  5908.0  3554.0 2017-06-14 18:46:50
498368   befriend  5852.0  6802.0 2017-06-14 18:46:50
498360   befriend  2925.0   680.0 2017-06-14 18:46:50
498352   befriend  6973.0   776.0 2017-06-14 18:46:50
498346   befriend   228.0  4153.0 2017-06-14 18:46:50
499682   unfriend  4007.0  5403.0 2017-06-14 18:46:50

[99742 rows x 4 columns]

In [10]:
G = nx.Graph()

In [11]:
id1list = df_friend.id1.tolist()
id2list = df_friend.id2.tolist()
idlist = set(id1list + id2list)
G.add_nodes_from(idlist)
#list(G.nodes())

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 ...]

In [12]:
N = df_friend.shape[0]
for i in range(N):
    id10 = df_friend.iloc[i].id1
    id20 = df_friend.iloc[i].id2
    event_type0 = df_friend.iloc[i].event_type
    if event_type0 == 'befriend':
        G.add_edge(id10,id20)
    if event_type0 == 'unfriend':
        if G.has_edge(id10,id20):
            G.remove_edge(id10,id20)

#list(G.edges())

[(0.0, 9693.0),
 (0.0, 2552.0),
 (0.0, 9682.0),
 (0.0, 8413.0),
 (0.0, 2604.0),
 (0.0, 6207.0),
 (0.0, 549.0),
 (0.0, 7733.0),
 (0.0, 7885.0),
 (0.0, 64.0),
 (0.0, 8025.0),
 (0.0, 6466.0),
 (0.0, 9288.0),
 (0.0, 5258.0),
 (0.0, 6171.0),
 (0.0, 7403.0),
 (0.0, 9339.0),
 (0.0, 411.0),
 (1.0, 6361.0),
 (1.0, 1957.0),
 (1.0, 6374.0),
 (1.0, 7836.0),
 (1.0, 5977.0),
 (1.0, 2770.0),
 (1.0, 2550.0),
 (1.0, 5636.0),
 (1.0, 6743.0),
 (1.0, 7772.0),
 (1.0, 5236.0),
 (1.0, 9738.0),
 (1.0, 7270.0),
 (1.0, 7141.0),
 (1.0, 9370.0),
 (1.0, 8914.0),
 (1.0, 3690.0),
 (2.0, 4605.0),
 (2.0, 4303.0),
 (2.0, 6253.0),
 (2.0, 9472.0),
 (2.0, 8858.0),
 (2.0, 7568.0),
 (2.0, 3392.0),
 (2.0, 5662.0),
 (2.0, 4923.0),
 (2.0, 9378.0),
 (2.0, 5457.0),
 (2.0, 257.0),
 (2.0, 8175.0),
 (2.0, 7243.0),
 (2.0, 698.0),
 (3.0, 2719.0),
 (3.0, 708.0),
 (3.0, 6740.0),
 (3.0, 5169.0),
 (3.0, 8794.0),
 (3.0, 3287.0),
 (3.0, 7779.0),
 (3.0, 3694.0),
 (3.0, 7259.0),
 (3.0, 6245.0),
 (3.0, 5393.0),
 (3.0, 8594.0),
 (3.0, 2452.0),
 (3.0, 5863.0),
 (3.0, 7877.0),
 (3.0, 4948.0),
 (3.0, 7167.0),
 (3.0, 4471.0),
 (3.0, 2989.0),
 (3.0, 9650.0),
 (4.0, 9071.0),
 (4.0, 1648.0),
 (4.0, 4537.0),
 (4.0, 8031.0),
 (4.0, 1745.0),
 (4.0, 6332.0),
 (4.0, 3918.0),
 (4.0, 2515.0),
 (4.0, 1189.0),
 (4.0, 2978.0),
 (4.0, 6269.0),
 (4.0, 1439.0),
 (4.0, 2167.0),
 (4.0, 3164.0),
 (4.0, 5761.0),
 (4.0, 5703.0),
 (4.0, 8259.0),
 (4.0, 9486.0),
 (4.0, 1915.0),
 (4.0, 7603.0),
 (4.0, 847.0),
 (5.0, 4177.0),
 (5.0, 1883.0),
 (5.0, 9617.0),
 (5.0, 4985.0),
 (5.0, 2339.0),
 (5.0, 5270.0),
 (5.0, 8310.0),
 (5.0, 3091.0),
 (5.0, 6809.0),
 (5.0, 7369.0),
 (5.0, 4466.0),
 (5.0, 8166.0),
 (5.0, 6619.0),
 (5.0, 8707.0),
 (5.0, 9737.0),
 (5.0, 7352.0),
 (5.0, 253.0),
 (5.0, 1919.0),
 (5.0, 7727.0),
 (5.0, 2408.0),
 (5.0, 3726.0),
 (6.0, 4737.0),
 (6.0, 9704.0),
 (6.0, 8741.0),
 (6.0, 362.0),
 (6.0, 1052.0),
 (6.0, 1209.0),
 (6.0, 8744.0),
 (6.0, 9917.0),
 (6.0, 4882.0),
 (6.0, 9411.0),
 (6.0, 2271.0),
 (6.0, 6897.0),
 (7.0, 8257.0),
 (7.0, 7140.0),
 (7.0, 7376.0),
 (7.0, 3074.0),
 (7.0, 4728.0),
 (7.0, 8527.0),
 (7.0, 683.0),
 (7.0, 2506.0),
 (7.0, 2632.0),
 (7.0, 4167.0),
 (7.0, 6527.0),
 (7.0, 7955.0),
 (7.0, 6238.0),
 (7.0, 8340.0),
 (7.0, 6169.0),
 (8.0, 9707.0),
 (8.0, 8299.0),
 (8.0, 2676.0),
 (8.0, 891.0),
 (8.0, 2796.0),
 (8.0, 411.0),
 (8.0, 4373.0),
 (8.0, 4228.0),
 (8.0, 1325.0),
 (8.0, 4455.0),
 (8.0, 3464.0),
 (8.0, 671.0),
 (8.0, 178.0),
 (8.0, 7581.0),
 (8.0, 6253.0),
 (8.0, 6356.0),
 (8.0, 4408.0),
 (8.0, 236.0),
 (9.0, 5277.0),
 (9.0, 3927.0),
 (9.0, 588.0),
 (9.0, 9974.0),
 (9.0, 2648.0),
 (9.0, 8230.0),
 (9.0, 9008.0),
 (9.0, 8323.0),
 (9.0, 4433.0),
 (9.0, 7587.0),
 (9.0, 2120.0),
 (9.0, 7660.0),
 (10.0, 2331.0),
 (10.0, 5455.0),
 (10.0, 3314.0),
 (10.0, 4855.0),
 (10.0, 2035.0),
 (10.0, 2842.0),
 (10.0, 9243.0),
 (10.0, 5521.0),
 (10.0, 7832.0),
 (10.0, 592.0),
 (10.0, 3449.0),
 (10.0, 3138.0),
 (10.0, 295.0),
 (10.0, 7683.0),
 (10.0, 6659.0),
 (10.0, 5257.0),
 (10.0, 3962.0),
 (10.0, 4887.0),
 (10.0, 1629.0),
 (11.0, 8298.0),
 (11.0, 1144.0),
 (11.0, 9050.0),
 (11.0, 1706.0),
 (11.0, 7595.0),
 (11.0, 9437.0),
 (11.0, 5156.0),
 (11.0, 259.0),
 (11.0, 9639.0),
 (11.0, 9846.0),
 (11.0, 1941.0),
 (11.0, 8048.0),
 (11.0, 7342.0),
 (11.0, 7532.0),
 (11.0, 3851.0),
 (11.0, 5437.0),
 (11.0, 3075.0),
 (11.0, 5454.0),
 (11.0, 4350.0),
 (11.0, 4142.0),
 (11.0, 3600.0),
 (11.0, 8860.0),
 (11.0, 4888.0),
 (11.0, 8039.0),
 (11.0, 7316.0),
 (11.0, 4770.0),
 (11.0, 1330.0),
 (11.0, 7649.0),
 (11.0, 1221.0),
 (12.0, 8333.0),
 (12.0, 6509.0),
 (12.0, 5421.0),
 (12.0, 35.0),
 (12.0, 647.0),
 (12.0, 5015.0),
 (12.0, 3577.0),
 (12.0, 2197.0),
 (12.0, 2019.0),
 (12.0, 8227.0),
 (12.0, 3549.0),
 (12.0, 4083.0),
 (12.0, 4157.0),
 (12.0, 7488.0),
 (12.0, 490.0),
 (12.0, 41.0),
 (12.0, 7325.0),
 (12.0, 7452.0),
 (12.0, 3257.0),
 (13.0, 28.0),
 (13.0, 6008.0),
 (13.0, 894.0),
 (13.0, 3998.0),
 (13.0, 8053.0),
 (13.0, 4656.0),
 (13.0, 8627.0),
 (13.0, 2407.0),
 (13.0, 8913.0),
 (13.0, 7511.0),
 (13.0, 2565.0),
 (14.0, 9509.0),
 (14.0, 7598.0),
 (14.0, 4201.0),
 (14.0, 1173.0),
 (14.0, 9235.0),
 (14.0, 6127.0),
 (14.0, 9808.0),
 (14.0, 745.0),
 (14.0, 9286.0),
 (14.0, 2440.0),
 (14.0, 7553.0),
 (14.0, 2483.0),
 (14.0, 8861.0),
 (14.0, 6131.0),
 (14.0, 3226.0),
 (14.0, 1440.0),
 (14.0, 8541.0),
 (14.0, 4986.0),
 (14.0, 9904.0),
 (15.0, 4576.0),
 (15.0, 8163.0),
 (15.0, 6485.0),
 (15.0, 7400.0),
 (15.0, 667.0),
 (15.0, 5332.0),
 (15.0, 7306.0),
 (15.0, 61.0),
 (15.0, 1349.0),
 (15.0, 6549.0),
 (15.0, 1051.0),
 (15.0, 5160.0),
 (15.0, 754.0),
 (15.0, 5496.0),
 (15.0, 8676.0),
 (15.0, 400.0),
 (15.0, 6832.0),
 (15.0, 4579.0),
 (15.0, 5049.0),
 (15.0, 614.0),
 (16.0, 2430.0),
 (16.0, 1906.0),
 (16.0, 8798.0),
 (16.0, 8433.0),
 (16.0, 4356.0),
 (16.0, 5711.0),
 (16.0, 3626.0),
 (16.0, 3671.0),
 (16.0, 3391.0),
 (16.0, 6615.0),
 (16.0, 9857.0),
 (16.0, 1947.0),
 (16.0, 6945.0),
 (16.0, 1425.0),
 (16.0, 4101.0),
 (16.0, 8778.0),
 (16.0, 9076.0),
 (16.0, 8812.0),
 (16.0, 9609.0),
 (16.0, 9227.0),
 (16.0, 3330.0),
 (16.0, 2106.0),
 (17.0, 7070.0),
 (17.0, 7985.0),
 (17.0, 1316.0),
 (17.0, 7873.0),
 (17.0, 5894.0),
 (17.0, 230.0),
 (17.0, 5452.0),
 (17.0, 4747.0),
 (17.0, 4561.0),
 (17.0, 996.0),
 (17.0, 9623.0),
 (17.0, 8509.0),
 (17.0, 9528.0),
 (18.0, 2675.0),
 (18.0, 2757.0),
 (18.0, 2010.0),
 (18.0, 1885.0),
 (18.0, 2681.0),
 (18.0, 4326.0),
 (18.0, 1679.0),
 (18.0, 1282.0),
 (18.0, 328.0),
 (18.0, 5806.0),
 (18.0, 4021.0),
 (18.0, 4259.0),
 (18.0, 6271.0),
 (18.0, 3508.0),
 (18.0, 5951.0),
 (18.0, 7692.0),
 (18.0, 4881.0),
 (18.0, 1506.0),
 (18.0, 7156.0),
 (18.0, 1927.0),
 (19.0, 448.0),
 (19.0, 5758.0),
 (19.0, 1601.0),
 (19.0, 2157.0),
 (19.0, 449.0),
 (19.0, 9750.0),
 (19.0, 9568.0),
 (19.0, 2266.0),
 (19.0, 7619.0),
 (19.0, 8863.0),
 (19.0, 3738.0),
 (19.0, 3708.0),
 (19.0, 1691.0),
 (19.0, 4213.0),
 (19.0, 5229.0),
 (19.0, 935.0),
 (19.0, 9639.0),
 (19.0, 9065.0),
 (20.0, 6052.0),
 (20.0, 464.0),
 (20.0, 474.0),
 (20.0, 7155.0),
 (20.0, 7704.0),
 (20.0, 5198.0),
 (20.0, 4996.0),
 (20.0, 6198.0),
 (20.0, 9541.0),
 (20.0, 1945.0),
 (20.0, 4191.0),
 (20.0, 5288.0),
 (21.0, 3701.0),
 (21.0, 2678.0),
 (21.0, 5599.0),
 (21.0, 8162.0),
 (21.0, 4665.0),
 (21.0, 6652.0),
 (21.0, 6221.0),
 (21.0, 3460.0),
 (21.0, 7341.0),
 (21.0, 4596.0),
 (21.0, 4772.0),
 (21.0, 9761.0),
 (21.0, 3823.0),
 (21.0, 6017.0),
 (21.0, 2568.0),
 (21.0, 2980.0),
 (21.0, 6434.0),
 (21.0, 557.0),
 (22.0, 9494.0),
 (22.0, 5583.0),
 (22.0, 47.0),
 (22.0, 8824.0),
 (22.0, 4137.0),
 (22.0, 2003.0),
 (22.0, 8863.0),
 (22.0, 9794.0),
 (22.0, 7593.0),
 (22.0, 5934.0),
 (22.0, 1208.0),
 (22.0, 6310.0),
 (22.0, 9150.0),
 (22.0, 9375.0),
 (22.0, 9641.0),
 (22.0, 8064.0),
 (22.0, 3496.0),
 (22.0, 2377.0),
 (23.0, 1685.0),
 (23.0, 867.0),
 (23.0, 4790.0),
 (23.0, 3278.0),
 (23.0, 8719.0),
 (23.0, 5634.0),
 (23.0, 8781.0),
 (23.0, 3254.0),
 (23.0, 4096.0),
 (23.0, 4648.0),
 (23.0, 9638.0),
 (23.0, 7081.0),
 (23.0, 7395.0),
 (23.0, 1739.0),
 (23.0, 6281.0),
 (23.0, 149.0),
 (23.0, 4390.0),
 (23.0, 7270.0),
 (23.0, 7850.0),
 (23.0, 8483.0),
 (23.0, 5720.0),
 (23.0, 1750.0),
 (23.0, 9176.0),
 (23.0, 8508.0),
 (24.0, 2543.0),
 (24.0, 9898.0),
 (24.0, 6903.0),
 (24.0, 9392.0),
 (24.0, 8728.0),
 (24.0, 5925.0),
 (24.0, 5486.0),
 (24.0, 8909.0),
 (24.0, 5333.0),
 (24.0, 9351.0),
 (24.0, 3714.0),
 (24.0, 8123.0),
 (24.0, 2744.0),
 (24.0, 7952.0),
 (24.0, 9912.0),
 (24.0, 3999.0),
 (24.0, 4236.0),
 (24.0, 5910.0),
 (24.0, 9892.0),
 (24.0, 5708.0),
 (24.0, 1172.0),
 (24.0, 1236.0),
 (24.0, 3507.0),
 (24.0, 8738.0),
 (25.0, 1509.0),
 (25.0, 8922.0),
 (25.0, 2532.0),
 (25.0, 2467.0),
 (25.0, 3623.0),
 (25.0, 420.0),
 (25.0, 8998.0),
 (25.0, 8822.0),
 (25.0, 1808.0),
 (25.0, 6442.0),
 (25.0, 7826.0),
 (25.0, 156.0),
 (25.0, 4191.0),
 (25.0, 2497.0),
 (25.0, 4448.0),
 (25.0, 470.0),
 (25.0, 1643.0),
 (25.0, 4937.0),
 (26.0, 513.0),
 (26.0, 8832.0),
 (26.0, 3799.0),
 (26.0, 8854.0),
 (26.0, 4679.0),
 (26.0, 9850.0),
 (26.0, 8439.0),
 (26.0, 2367.0),
 (26.0, 7142.0),
 (26.0, 9492.0),
 (26.0, 789.0),
 (26.0, 3980.0),
 (26.0, 1868.0),
 (26.0, 9706.0),
 (26.0, 7026.0),
 (26.0, 7599.0),
 (26.0, 272.0),
 (26.0, 2645.0),
 (26.0, 9459.0),
 (26.0, 4102.0),
 (26.0, 9234.0),
 (26.0, 3017.0),
 (26.0, 4291.0),
 (26.0, 1694.0),
 (26.0, 112.0),
 (27.0, 5053.0),
 (27.0, 1754.0),
 (27.0, 9046.0),
 (27.0, 7067.0),
 (27.0, 5588.0),
 (27.0, 351.0),
 (27.0, 7316.0),
 (27.0, 7675.0),
 (27.0, 6313.0),
 (27.0, 8897.0),
 (27.0, 4034.0),
 (27.0, 9998.0),
 (27.0, 5285.0),
 (27.0, 1646.0),
 (27.0, 5893.0),
 (27.0, 4159.0),
 (27.0, 7027.0),
 (27.0, 6064.0),
 (27.0, 5547.0),
 (27.0, 6868.0),
 (28.0, 8584.0),
 (28.0, 2318.0),
 (28.0, 4836.0),
 (28.0, 8949.0),
 (28.0, 4224.0),
 (28.0, 9109.0),
 (28.0, 5152.0),
 (28.0, 4019.0),
 (28.0, 4894.0),
 (28.0, 6170.0),
 (28.0, 2595.0),
 (28.0, 6383.0),
 (28.0, 5427.0),
 (28.0, 6697.0),
 (28.0, 109.0),
 (28.0, 8050.0),
 (28.0, 9348.0),
 (28.0, 931.0),
 (28.0, 6467.0),
 (29.0, 319.0),
 (29.0, 1117.0),
 (29.0, 7125.0),
 (29.0, 7918.0),
 (29.0, 2370.0),
 (29.0, 7845.0),
 (29.0, 5122.0),
 (29.0, 2886.0),
 (29.0, 4056.0),
 (29.0, 5211.0),
 (29.0, 4883.0),
 (29.0, 7164.0),
 (29.0, 7228.0),
 (29.0, 2614.0),
 (29.0, 6811.0),
 (29.0, 9815.0),
 (29.0, 3287.0),
 (29.0, 3673.0),
 (29.0, 7035.0),
 (29.0, 9761.0),
 (30.0, 5038.0),
 (30.0, 5141.0),
 (30.0, 8081.0),
 (30.0, 8974.0),
 (30.0, 8772.0),
 (30.0, 9088.0),
 (30.0, 2332.0),
 (30.0, 6965.0),
 (30.0, 7111.0),
 (30.0, 6707.0),
 (30.0, 7429.0),
 (30.0, 3373.0),
 (30.0, 5589.0),
 (30.0, 9721.0),
 (30.0, 602.0),
 (30.0, 1772.0),
 (30.0, 1968.0),
 (30.0, 2793.0),
 (30.0, 1400.0),
 (30.0, 279.0),
 (31.0, 8076.0),
 (31.0, 3063.0),
 (31.0, 1654.0),
 (31.0, 4977.0),
 (31.0, 5495.0),
 (31.0, 4455.0),
 (31.0, 4998.0),
 (31.0, 2840.0),
 (31.0, 6864.0),
 (31.0, 9415.0),
 (31.0, 5419.0),
 (31.0, 3121.0),
 (31.0, 2514.0),
 (31.0, 4280.0),
 (31.0, 819.0),
 (31.0, 7456.0),
 (31.0, 4897.0),
 (32.0, 2917.0),
 (32.0, 3673.0),
 (32.0, 7053.0),
 (32.0, 6205.0),
 (32.0, 6465.0),
 (32.0, 3722.0),
 (32.0, 7085.0),
 (32.0, 3164.0),
 (32.0, 9207.0),
 (32.0, 7716.0),
 (32.0, 1355.0),
 (32.0, 7607.0),
 (32.0, 5706.0),
 (32.0, 4926.0),
 (32.0, 9623.0),
 (32.0, 4678.0),
 (33.0, 2395.0),
 (33.0, 2333.0),
 (33.0, 511.0),
 (33.0, 7480.0),
 (33.0, 6081.0),
 (33.0, 9855.0),
 (33.0, 5258.0),
 (33.0, 4328.0),
 (33.0, 1621.0),
 (33.0, 7438.0),
 (33.0, 8870.0),
 (33.0, 5974.0),
 (33.0, 1985.0),
 (33.0, 5729.0),
 (33.0, 7009.0),
 (33.0, 4265.0),
 (33.0, 2691.0),
 (33.0, 8832.0),
 (33.0, 1997.0),
 (34.0, 6381.0),
 (34.0, 3626.0),
 (34.0, 9532.0),
 (34.0, 48.0),
 (34.0, 67.0),
 (34.0, 7743.0),
 (34.0, 169.0),
 (34.0, 7841.0),
 (34.0, 1428.0),
 (34.0, 9671.0),
 (34.0, 737.0),
 (34.0, 9604.0),
 (34.0, 235.0),
 (34.0, 5656.0),
 (35.0, 936.0),
 (35.0, 3136.0),
 (35.0, 3540.0),
 (35.0, 2288.0),
 (35.0, 2679.0),
 (35.0, 6382.0),
 (35.0, 3492.0),
 (35.0, 8137.0),
 (35.0, 1411.0),
 (35.0, 3661.0),
 (35.0, 2199.0),
 (35.0, 4681.0),
 (35.0, 690.0),
 (35.0, 7534.0),
 (35.0, 1858.0),
 (35.0, 8484.0),
 (35.0, 3210.0),
 (35.0, 221.0),
 (35.0, 6415.0),
 (36.0, 7515.0),
 (36.0, 4443.0),
 (36.0, 9674.0),
 (36.0, 7062.0),
 (36.0, 7000.0),
 (36.0, 5225.0),
 (36.0, 6124.0),
 (36.0, 7549.0),
 (36.0, 4393.0),
 (36.0, 7266.0),
 (36.0, 8268.0),
 (36.0, 248.0),
 (36.0, 4848.0),
 (36.0, 968.0),
 (37.0, 6214.0),
 (37.0, 7505.0),
 (37.0, 1070.0),
 (37.0, 3148.0),
 (37.0, 5175.0),
 (37.0, 9200.0),
 (37.0, 993.0),
 (37.0, 4357.0),
 (37.0, 8813.0),
 (37.0, 2137.0),
 (37.0, 4705.0),
 (37.0, 6389.0),
 (37.0, 604.0),
 (37.0, 6185.0),
 (37.0, 6711.0),
 (37.0, 7579.0),
 (37.0, 1039.0),
 (37.0, 9316.0),
 (37.0, 9638.0),
 (38.0, 9830.0),
 (38.0, 3298.0),
 (38.0, 2232.0),
 (38.0, 2411.0),
 (38.0, 5400.0),
 (38.0, 9187.0),
 (38.0, 8404.0),
 (38.0, 3647.0),
 (38.0, 9061.0),
 (38.0, 8147.0),
 (38.0, 557.0),
 (38.0, 9283.0),
 (38.0, 7289.0),
 (38.0, 1393.0),
 (38.0, 5858.0),
 (38.0, 6637.0),
 (38.0, 2339.0),
 (38.0, 7099.0),
 (39.0, 6843.0),
 (39.0, 8333.0),
 (39.0, 4732.0),
 (39.0, 7012.0),
 (39.0, 4435.0),
 (39.0, 192.0),
 (39.0, 6903.0),
 (39.0, 5549.0),
 (39.0, 5867.0),
 (39.0, 4294.0),
 (39.0, 315.0),
 (39.0, 7983.0),
 (39.0, 4617.0),
 (39.0, 9881.0),
 (39.0, 1842.0),
 (39.0, 309.0),
 (39.0, 131.0),
 (39.0, 6398.0),
 (40.0, 3859.0),
 (40.0, 2147.0),
 (40.0, 5589.0),
 (40.0, 1512.0),
 (40.0, 4617.0),
 (40.0, 6368.0),
 (40.0, 2664.0),
 (40.0, 2025.0),
 (40.0, 5574.0),
 (40.0, 3887.0),
 (40.0, 3849.0),
 (40.0, 7356.0),
 (40.0, 7961.0),
 (40.0, 9407.0),
 (41.0, 6972.0),
 (41.0, 9708.0),
 (41.0, 7135.0),
 (41.0, 7224.0),
 (41.0, 2191.0),
 (41.0, 402.0),
 (41.0, 9306.0),
 (41.0, 8133.0),
 (41.0, 1756.0),
 (41.0, 872.0),
 (41.0, 4401.0),
 (41.0, 8529.0),
 (41.0, 8886.0),
 (41.0, 730.0),
 (41.0, 2979.0),
 (41.0, 9238.0),
 (41.0, 9822.0),
 (41.0, 1462.0),
 (41.0, 1178.0),
 (41.0, 9062.0),
 (42.0, 9032.0),
 (42.0, 1602.0),
 (42.0, 2739.0),
 (42.0, 4309.0),
 (42.0, 5948.0),
 (42.0, 8543.0),
 (42.0, 1497.0),
 (42.0, 4874.0),
 (42.0, 7856.0),
 (42.0, 1169.0),
 (42.0, 2892.0),
 (42.0, 7181.0),
 (42.0, 7584.0),
 (42.0, 9025.0),
 (42.0, 7996.0),
 (42.0, 5680.0),
 (42.0, 147.0),
 (42.0, 3898.0),
 (42.0, 1138.0),
 (42.0, 4510.0),
 (42.0, 8915.0),
 (43.0, 3110.0),
 (43.0, 5532.0),
 (43.0, 9793.0),
 (43.0, 5270.0),
 (43.0, 6419.0),
 (43.0, 746.0),
 (43.0, 9799.0),
 (43.0, 9295.0),
 (43.0, 6168.0),
 (43.0, 2731.0),
 (43.0, 2140.0),
 (43.0, 1787.0),
 (43.0, 6137.0),
 (43.0, 8001.0),
 (43.0, 3431.0),
 (43.0, 7290.0),
 (43.0, 9306.0),
 (43.0, 8380.0),
 (43.0, 7170.0),
 (43.0, 7604.0),
 (43.0, 1302.0),
 (44.0, 4905.0),
 (44.0, 1311.0),
 (44.0, 1133.0),
 (44.0, 4041.0),
 (44.0, 4472.0),
 (44.0, 5367.0),
 (44.0, 4018.0),
 (44.0, 7432.0),
 (44.0, 6141.0),
 (44.0, 6476.0),
 (44.0, 3215.0),
 (44.0, 6736.0),
 (44.0, 2326.0),
 (44.0, 955.0),
 (44.0, 7210.0),
 (44.0, 3175.0),
 (45.0, 9639.0),
 (45.0, 8120.0),
 (45.0, 6643.0),
 (45.0, 71.0),
 (45.0, 3731.0),
 (45.0, 8034.0),
 (45.0, 9646.0),
 (45.0, 1121.0),
 (45.0, 766.0),
 (45.0, 4922.0),
 (45.0, 9094.0),
 (45.0, 2427.0),
 (45.0, 9367.0),
 (45.0, 9810.0),
 (45.0, 6404.0),
 (45.0, 933.0),
 (45.0, 3299.0),
 (45.0, 2078.0),
 (46.0, 7354.0),
 (46.0, 9800.0),
 (46.0, 3626.0),
 (46.0, 6185.0),
 (46.0, 2921.0),
 (46.0, 8198.0),
 (46.0, 4093.0),
 (46.0, 2812.0),
 (46.0, 5023.0),
 (46.0, 9157.0),
 (46.0, 4307.0),
 (46.0, 1671.0),
 (46.0, 5920.0),
 (47.0, 2403.0),
 (47.0, 998.0),
 (47.0, 3946.0),
 (47.0, 3600.0),
 (47.0, 6897.0),
 (47.0, 9158.0),
 (47.0, 4336.0),
 (47.0, 6774.0),
 (47.0, 6705.0),
 (47.0, 4762.0),
 (47.0, 9745.0),
 (48.0, 6986.0),
 (48.0, 3222.0),
 (48.0, 6481.0),
 (48.0, 7474.0),
 (48.0, 5076.0),
 (48.0, 583.0),
 (48.0, 2641.0),
 (48.0, 6390.0),
 (48.0, 5187.0),
 (48.0, 2514.0),
 (48.0, 6122.0),
 (48.0, 4069.0),
 (48.0, 2108.0),
 (48.0, 2087.0),
 (49.0, 564.0),
 (49.0, 5513.0),
 (49.0, 3969.0),
 (49.0, 4152.0),
 (49.0, 6052.0),
 (49.0, 4553.0),
 (49.0, 6546.0),
 (49.0, 4742.0),
 (49.0, 5335.0),
 (49.0, 9427.0),
 (49.0, 4159.0),
 (49.0, 4180.0),
 (49.0, 8467.0),
 (49.0, 4308.0),
 (49.0, 5185.0),
 (49.0, 8092.0),
 (49.0, 8993.0),
 (49.0, 2846.0),
 (49.0, 1924.0),
 (49.0, 8070.0),
 (49.0, 6567.0),
 (49.0, 5149.0),
 (50.0, 5478.0),
 (50.0, 5073.0),
 (50.0, 5898.0),
 (50.0, 1218.0),
 (50.0, 968.0),
 (50.0, 7173.0),
 (50.0, 1486.0),
 (50.0, 2267.0),
 (50.0, 7406.0),
 (50.0, 9252.0),
 (50.0, 1285.0),
 (50.0, 3443.0),
 (50.0, 1612.0),
 (50.0, 1379.0),
 (50.0, 2225.0),
 (50.0, 6537.0),
 (50.0, 2510.0),
 (50.0, 5177.0),
 (50.0, 9659.0),
 (50.0, 7521.0),
 (50.0, 7376.0),
 (50.0, 3052.0),
 (50.0, 3963.0),
 (50.0, 8667.0),
 (50.0, 4588.0),
 (51.0, 6529.0),
 (51.0, 2060.0),
 (51.0, 4441.0),
 (51.0, 9788.0),
 (51.0, 4764.0),
 (51.0, 2951.0),
 (51.0, 5573.0),
 (51.0, 4729.0),
 (51.0, 6351.0),
 (51.0, 4772.0),
 (51.0, 1879.0),
 (51.0, 7755.0),
 (51.0, 8767.0),
 (51.0, 2645.0),
 (51.0, 8395.0),
 (51.0, 6215.0),
 (51.0, 6045.0),
 (51.0, 4144.0),
 (51.0, 2120.0),
 (51.0, 8957.0),
 (51.0, 6042.0),
 (51.0, 5074.0),
 (51.0, 3454.0),
 (51.0, 5415.0),
 (52.0, 7631.0),
 (52.0, 910.0),
 (52.0, 3461.0),
 (52.0, 7184.0),
 (52.0, 2801.0),
 (52.0, 3247.0),
 (52.0, 7446.0),
 (52.0, 1480.0),
 (52.0, 9576.0),
 (52.0, 8930.0),
 (52.0, 5442.0),
 (52.0, 4927.0),
 (53.0, 1231.0),
 (53.0, 9552.0),
 (53.0, 3415.0),
 (53.0, 5402.0),
 (53.0, 219.0),
 (53.0, 3670.0),
 (53.0, 1465.0),
 (53.0, 1625.0),
 (53.0, 2021.0),
 (53.0, 9050.0),
 (53.0, 5924.0),
 (53.0, 1946.0),
 (53.0, 2989.0),
 (53.0, 9172.0),
 (53.0, 5837.0),
 (53.0, 6222.0),
 (54.0, 2815.0),
 (54.0, 704.0),
 (54.0, 2801.0),
 (54.0, 2795.0),
 (54.0, 6622.0),
 (54.0, 3513.0),
 (54.0, 5400.0),
 (54.0, 9640.0),
 (54.0, 1492.0),
 (54.0, 6090.0),
 (54.0, 9444.0),
 (54.0, 5735.0),
 (54.0, 8754.0),
 (54.0, 9456.0),
 (54.0, 9528.0),
 (54.0, 3247.0),
 (54.0, 7037.0),
 (54.0, 1174.0),
 (54.0, 9746.0),
 (55.0, 4730.0),
 (55.0, 692.0),
 (55.0, 8193.0),
 ...]

In [33]:
df_friend[df_friend['id1'] == nnode]

       event_type  id1     id2           timestamp
16950    befriend  1.0  1957.0 2017-06-14 18:46:40
54199    befriend  1.0  6374.0 2017-06-14 18:46:41
57310    befriend  1.0  7836.0 2017-06-14 18:46:41
136571   befriend  1.0  5977.0 2017-06-14 18:46:42
194384   befriend  1.0  6743.0 2017-06-14 18:46:44
249670   befriend  1.0  7772.0 2017-06-14 18:46:45
391922   befriend  1.0  7270.0 2017-06-14 18:46:47
496952   befriend  1.0  8914.0 2017-06-14 18:46:49
469129   befriend  1.0  3690.0 2017-06-14 18:46:49

In [14]:
df_DT=df[df['D'].notnull()]
df_DT=df_DT[['D','T']]
D = df_DT.values[0][0]
T = df_DT.values[0][1]
print(D)
print(T)
df_DT.head()

2.0
50.0

     D     T
0  2.0  50.0

In [34]:
G[10.0]

{295.0: {},
 592.0: {},
 1629.0: {},
 2035.0: {},
 2331.0: {},
 2842.0: {},
 3138.0: {},
 3314.0: {},
 3449.0: {},
 3962.0: {},
 4855.0: {},
 4887.0: {},
 5257.0: {},
 5455.0: {},
 5521.0: {},
 6659.0: {},
 7683.0: {},
 7832.0: {},
 9243.0: {}}

In [35]:
G.number_of_nodes()

10000

In [36]:
G.number_of_edges()

90706

In [37]:
#list(G.edges())

In [38]:
list(G.neighbors(nnode))

[6361.0,
 1957.0,
 6374.0,
 7836.0,
 5977.0,
 2770.0,
 2550.0,
 5636.0,
 6743.0,
 7772.0,
 5236.0,
 9738.0,
 7270.0,
 7141.0,
 9370.0,
 8914.0,
 3690.0]

In [39]:
list(G.neighbors(3.0))

[2719.0,
 708.0,
 6740.0,
 5169.0,
 8794.0,
 3287.0,
 7779.0,
 3694.0,
 7259.0,
 6245.0,
 5393.0,
 8594.0,
 2452.0,
 5863.0,
 7877.0,
 4948.0,
 7167.0,
 4471.0,
 2989.0,
 9650.0]

In [41]:
nnode = 1.0

Dlist = list(G.neighbors(nnode))
#print(Dlist)
for i in list(G.neighbors(nnode)):
    #print(list(G.neighbors(i)))
    Dlist += list(G.neighbors(i))
    #print(Dlist)
    #print(len(list(G.neighbors(i))))

#print(Dlist)
#print(set(Dlist))
print(len(set(Dlist)))

329

In [56]:
len(list(nx.ego_graph(G, nnode, D, center=False)))

328

In [119]:
df_TAmonut = pd.DataFrame({"id": [], "T_amount": []})
df_TAmonut

Empty DataFrame
Columns: [T_amount, id]
Index: []

In [120]:
Nodes = list(nx.ego_graph(G, nnode, D, center=False))
df_Nodes = df_purchase.loc[df_purchase['id'].isin(Nodes)]
if len(df_Nodes) > T:
    df_Nodes = df_Nodes.sort_values('timestamp').iloc[-int(T):]

df_Nodes.shape
sum0 = df_Nodes.amount.sum()
mean0 = df_Nodes.amount.mean()
sd0 = df_Nodes.amount.std()

T_amount = sum0 + 3*sd0
print(T_amount)
Node_amount = pd.DataFrame({'id': [nnode], 'T_amount': [T_amount]})
df_TAmonut = df_TAmonut.append(Node_amount)

print("sum: {0:.2f} mean: {1:.2f} sd: {2:.2f}".format(sum0, mean0, sd0))
print('sum: ' + str(sum0) + ' mean: ' + str(mean0) + ' sd: ' + str(sd0))
df_TAmonut

2984.709067249308
sum: 2864.24 mean: 57.28 sd: 40.16
sum: 2864.24 mean: 57.2848 sd: 40.15635574976944

      T_amount   id
0  2984.709067  1.0

In [45]:
userid = df_purchase[df_purchase['id'] == nnode]
print(len(userid))
if len(userid) > T:
    userid = userid.sort_values('timestamp')[-T:]

sum0 = userid.amount.sum()
mean0 = userid.amount.mean()
sd0 = userid.amount.std()

print("sum: {0:.2f} mean: {1:.2f} sd: {2:.2f}".format(sum0, mean0, sd0))
print('sum: ' + str(sum0) + ' mean: ' + str(mean0) + ' sd: ' + str(sd0))

34
sum: 2265.09 mean: 66.62 sd: 43.98
sum: 2265.09 mean: 66.62029411764706 sd: 43.97732394226591

In [46]:
for i in np.arange(D):
    print(i)
    
list(nx.ego_graph(G, 1.0, 1))
print(len(list(nx.ego_graph(G, 1.0, 1))))

0.0
1.0
18

In [27]:
#nx.draw(G)

In [47]:
for possible_value in set(df_purchase['timestamp'].tolist()):
    print(possible_value)

2017-06-14 18:46:40
2017-06-14 18:46:48
2017-06-14 18:46:47
2017-06-14 18:46:49
2017-06-14 18:46:50
2017-06-14 18:46:42
2017-06-14 18:46:41
2017-06-14 18:46:45
2017-06-14 18:46:44
2017-06-14 18:46:46
2017-06-14 18:46:43

In [48]:
for possible_value in set(df_befriend['timestamp'].tolist()):
    print(possible_value)

2017-06-14 18:46:40
2017-06-14 18:46:48
2017-06-14 18:46:47
2017-06-14 18:46:49
2017-06-14 18:46:50
2017-06-14 18:46:42
2017-06-14 18:46:41
2017-06-14 18:46:45
2017-06-14 18:46:44
2017-06-14 18:46:46
2017-06-14 18:46:43

In [49]:
for possible_value in set(df_unfriend['timestamp'].tolist()):
    print(possible_value)

2017-06-14 18:46:40
2017-06-14 18:46:48
2017-06-14 18:46:47
2017-06-14 18:46:49
2017-06-14 18:46:50
2017-06-14 18:46:42
2017-06-14 18:46:41
2017-06-14 18:46:45
2017-06-14 18:46:44
2017-06-14 18:46:46
2017-06-14 18:46:43

In [50]:
G.degree(1)

17

In [51]:
print(len(G.neighbors(1)))
list(G.neighbors(1))

17

[6361.0,
 1957.0,
 6374.0,
 7836.0,
 5977.0,
 2770.0,
 2550.0,
 5636.0,
 6743.0,
 7772.0,
 5236.0,
 9738.0,
 7270.0,
 7141.0,
 9370.0,
 8914.0,
 3690.0]